


header{
    background-color: darkseagreen;
    width: 100%;
    height: 200px;
}


main{
    width: 100%;
    height: 120vh;
    background-image: url(https://cdn2.grmedia.com.ge/app/uploads/2020/07/%E1%83%91%E1%83%90%E1%83%97%E1%83%A3%E1%83%9B%E1%83%98-scaled.jpg);
}


footer{
    width: 100%;
    height: 60vh;
    background-color: darkseagreen;
}