

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
                color: white;


    article{
        width: 40%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20PX;
        cursor: pointer;
        background-color: rgba(82, 136, 136, 0.493);

    }
}